.fpoop {
    color: #991b0d; /* BANNED */
    color: #89a110; /* REPORTP */
    color: #EB7434; /* KICK */
    color: #EBCD34; /* WARN */
    color: #34EB6B; /* SAY */
    color: #10a17d; /* SETNEXT */
    color: #5c32a8; /* MAPVOTERESULT */
    color: #3292a8; /* SWITCH */
    color: #085441; /* RUNNEXT */
    color: #a7367b; /* TK */
    color: #2c37ca; /* MESSAGE */
    color: #ff8bcb; /* KILL */
    color: #3f213f; /* BAN */
    color: #bba170; /* RESIGN */
    color: #991b0d; /* BAN */
    color: #991b0d; /* BAN */
    color: #991b0d; /* BAN */
    color: #991b0d; /* BAN */
    color: #991b0d; /* BAN */
}